<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.pp.mapper.CarMapper">
  <resultMap id="BaseResultMap" type="app.pp.entity.Car">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="isdel" jdbcType="INTEGER" property="isdel" />
    <result column="creator" jdbcType="BIGINT" property="creator" />
    <result column="createdtime" jdbcType="TIMESTAMP" property="createdtime" />
    <result column="updator" jdbcType="BIGINT" property="updator" />
    <result column="updatedtime" jdbcType="TIMESTAMP" property="updatedtime" />
    <result column="fid" jdbcType="INTEGER" property="fid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, `type`, isdel, creator, createdtime, updator, updatedtime, fid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from car
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from car
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="app.pp.entity.Car">
    insert into car (id, `name`, `type`, 
      isdel, creator, createdtime, 
      updator, updatedtime, fid
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{isdel,jdbcType=INTEGER}, #{creator,jdbcType=BIGINT}, #{createdtime,jdbcType=TIMESTAMP}, 
      #{updator,jdbcType=BIGINT}, #{updatedtime,jdbcType=TIMESTAMP}, #{fid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="app.pp.entity.Car">
    insert into car
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="isdel != null">
        isdel,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createdtime != null">
        createdtime,
      </if>
      <if test="updator != null">
        updator,
      </if>
      <if test="updatedtime != null">
        updatedtime,
      </if>
      <if test="fid != null">
        fid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="isdel != null">
        #{isdel,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=BIGINT},
      </if>
      <if test="createdtime != null">
        #{createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null">
        #{updator,jdbcType=BIGINT},
      </if>
      <if test="updatedtime != null">
        #{updatedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="fid != null">
        #{fid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="app.pp.entity.Car">
    update car
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="isdel != null">
        isdel = #{isdel,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=BIGINT},
      </if>
      <if test="createdtime != null">
        createdtime = #{createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null">
        updator = #{updator,jdbcType=BIGINT},
      </if>
      <if test="updatedtime != null">
        updatedtime = #{updatedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="fid != null">
        fid = #{fid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="app.pp.entity.Car">
    update car
    set `name` = #{name,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=INTEGER},
      isdel = #{isdel,jdbcType=INTEGER},
      creator = #{creator,jdbcType=BIGINT},
      createdtime = #{createdtime,jdbcType=TIMESTAMP},
      updator = #{updator,jdbcType=BIGINT},
      updatedtime = #{updatedtime,jdbcType=TIMESTAMP},
      fid = #{fid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByFid" parameterType="int" resultType="app.pp.entity.Car">
    select * from car where isdel = 0 and fid = #{fid} order by createdtime desc
  </select>

  <update id="updateById" parameterType="int">
    update car set isdel = 1 where id = #{id}
  </update>

  <select id="selectById" parameterType="int" resultType="app.pp.entity.Car">
    select * from car where id = #{id}
  </select>
</mapper>