<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.pp.mapper.LogMapper">

  <insert id="insert" parameterType="app.pp.entity.Log">
    insert into wwls_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="content != null">
        content,
      </if>
      <if test="record != null">
        `record`,
      </if>
      <if test="adduser != null">
        `adduser`,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="content != null">
        #{content},
      </if>
      <if test="record != null">
        #{record},
      </if>
      <if test="adduser != null">
        #{adduser},
      </if>
      <if test="addtime != null">
        #{addtime},
      </if>
    </trim>
  </insert>
</mapper>