<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="app.pp.mapper.PrintRecordMapper">

    <insert id="insert" parameterType="app.pp.entity.PrintRecord" useGeneratedKeys="true" keyProperty="id" >
        insert into printrecord
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="saleslipid != null">
                saleslipid,
            </if>
            <if test="printlimit != null">
                printlimit,
            </if>
            <if test="pstarttime != null">
                pstarttime,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="createdtime != null">
                createdtime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="saleslipid != null">
                #{saleslipid},
            </if>
            <if test="printlimit != null">
                #{printlimit},
            </if>
            <if test="pstarttime != null">
                #{pstarttime},
            </if>
            <if test="creator != null">
                #{creator},
            </if>
            <if test="createdtime != null">
                #{createdtime},
            </if>

        </trim>
    </insert>

    <delete id="deleteBySaleslipid" parameterType="int">
        update printrecord set isdel = 1 where saleslipid = #{saleslipid}
    </delete>
    <select id="selectSumdateBySaleslipid" parameterType="int" resultType="int">
        select IFNULL(SUM(printlimit),0) from printrecord where  saleslipid = #{saleslipid}
    </select>

    <select id="selectLastBySaleslipid" parameterType="int" resultType="app.pp.entity.PrintRecord">
        select printlimit from printrecord where  saleslipid = #{saleslipid} order by id desc limit 1
    </select>
</mapper>